sqlalchemy
python-dotenv
langgraph
langchain-groq
langchain-huggingface
langchain-community
faiss-cpu
sentence-transformers
psycopg2-binary
pymysql
fastapi
uvicorn[standard]
python-telegram-bot
flask
twilio
requests
SpeechRecognition
pydub
pytesseract
Pillow
redis
grandalf
slack-sdk